* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Sans-serif';
  margin: 0;
  padding: 0;
}

body, html {
	margin: 0;
	width: 100%;
	height: 100vh;
  background: #292929;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  header {
  	width: 100%;
  	height: 60px;
  	line-height: 60px;
    display: inline-block;
    font-size: 12px;
    border-bottom: 1px solid #212121;
    background-color: #212121;

    a.logo {
      margin-left: 15px;
      color: #00B2EE;
      text-decoration: none;
      display: inline;
    }

    nav {
      display: none;
    }
  }

  .hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #00B2EE;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
  }

  .cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 7px 15px 0px 15px;
    color: #00B2EE;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
  }

  .menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    text-align: center;
    font-size: 12px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-image: none;
    }

    li {
      display: block;
      padding: 15px 0 15px 0;
      border-bottom: #ccc 1px solid;
      color: #999;

      &:hover {
        display: block;
        background: #fff;
        padding: 15px 0 15px 0;
        border-bottom: #ddd 1px solid;
      }

      a {
        text-decoration: none;
        margin: 0px;
        color:#666;

        &:hover {
          color: #666;
          text-decoration: none;
        }
      }

      .glyphicon-home {
        color: white;
        font-size: 1.5em;
        margin-top: 5px;
        margin: 0 auto;
      }
    }
  }

  span { padding-left: 20px; }

  a { color: #336699; }

  // SEARCH BAR
  .search-box {
    padding: 30px;

    input {
        -webkit-appearance: none;
        border: 1px solid #999;
        color: #999;
        width: 100%;
        height: 30px;
        border-radius: 3px;
        padding: 10px;

        &:focus {
          outline: none;
        }
      }

    button {
      position: absolute;
      -webkit-appearance: none;
      background-color: #00B2EE;
      width: 60px;
      height: 22px;
      right: 4px;
      top: 4px;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      text-transform: uppercase;
      -moz-appearence: none;
      -webkit-appearence: none;

      &:hover { background-color: #999; }
    }
  }

  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    position: relative;
  }

  // NETFLIX SLIDER from https://codepen.io/joshhunt/pen/LVQZRa

  h1, p { text-align: center; }

  p {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  a:link,
  a:hover,
  a:active,
  a:visited {
    transition: color 150ms;
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #7f8c8d;
    text-decoration: none;
  }

  .contain { width: 100%; }

  .row {
    overflow: scroll;
    width: 94%;
    margin: 0 auto 20px;

    h4 {
      position: absolute;
      color: #999;
      text-transform: uppercase;
    }
  }

  .row__inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 45px 0 20px;
    padding-bottom: 10px;

    &:hover {
      -webkit-transform: translate3d(-62.5px, 0, 0);
      transform: translate3d(-62.5px, 0, 0);
    }
  }

  .tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;

    &:hover {
      opacity: 1;
    }
  }

  .tile__img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px;
  }

  .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;

    &:hover {
      opacity: 1;
    }
  }

  .tile__details:after,
  .tile__details:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
  }

  .tile__details:after {
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }

  .tile__details:before {
    content: '▶';
    left: 0;
    width: 100%;
    font-size: 37px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
    color: #fff;
  }

  // .tile:hover .tile__details { opacity: 1; }

  .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: #fff;
  }

  // .row__inner:hover {
  //   -webkit-transform: translate3d(-62.5px, 0, 0);
  //           transform: translate3d(-62.5px, 0, 0);
  // }

  .row__inner:hover .tile { opacity: 0.3; }

  .row__inner:hover .tile:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }

  .tile:hover ~ .tile {
    -webkit-transform: translate3d(125px, 0, 0);
    transform: translate3d(125px, 0, 0);
  }

  .bib-button {
    -webkit-appearance: none;
    background-color: #00B2EE;
    width: 175px;
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    -moz-appearence: none;
    -webkit-appearence: none;
  }

  main {
    div.kategori-program {
      text-align: center;
    }

    a.kategori-bar {
      display: inline;
      font-size: 12px;
      color: #999;

      &.active {
        color: #00B2EE;
        border-bottom: 1px solid #00B2EE;
        border-top: 1px solid #00B2EE;
      }

      &:hover {
        color: #00B2EE;
        transition: 1s;
        border-bottom: 1px solid #00B2EE;
      }
    }

    h3.køb-program {
     text-align: center;
     margin: 50px 0px 0px;
     color: #999;
    }

    p.bestil-tid {
     color: #fff;
     margin-top: 30px;
     background-color: #00B2EE;
     padding: 20px;
     font-size: 13px;
    }

    div.undersøgelser {
     background-color: #fff;
     line-height: 22px;
     padding: 10px 0px;
    }

    a.undersøgelse {
     font-size: 12px;
     padding: 10px;
     text-align: center;
     display: block;
     color: #212121;
    }

    form {
     text-align: center;
     margin-top: 20px;

      input {
        font-size: 12px;
        border: 1px solid #999;
        border-radius: 2px;
        padding: 3px 15px;
        margin: 5px;
        color: #999;
      }

      .comment {
        padding: 20px 15px;
        color: #999;
        text-align: left;
      }
    }

   p.tid {
     font-size: 10px;
     text-align: left;
     padding: 0px 30px;
     color: green;
   }

   p.måned {
     text-align: center;
     margin: 10px 0px;
   }

   p.tekst {
     padding-top: 10px;
     color: #303030;
   }

   button.startidag {
     padding: 10px;
     margin: 15px;
    }

    div.section {
      background: url("/img/gym copy.jpg") fixed center;
      background-size: cover;
      margin: 50px 0;
      padding: 20%;
    }

    .coach-text {
      margin-bottom: 30px;
      text-align: center;
      line-height: 20px;
    }

    .section-text {
      font-size: 15px;
      color: #292929;
    }

    .section-big-text {
      font-size: 20px;
      text-align: center;
      line-height: 70px;
      color: #292929;
    }

    div.section-2 {
      padding: 15%;
      margin: 50px 0;
    }

    .programmer {
      line-height: 35px;
      color: #999;
    }

    .programmer1 {
      line-height: 35px;
      color: #fff;
    }

    .tomintest-text {
      line-height: 30px;
      color: #999;
      text-align: center;
      font-size: 15px;
      background-color: #00B2EE;
      line-height: 35px;
    }

    div.section-3 {
      padding: 30% 0px;
      margin: 50px 0 30px 0;
      background-color: #00B2EE;
    }

    .præstationspyramide {
      line-height: 35px;
      color: #fff;
      margin-bottom: 25px;
    }

    .test-button {
      -webkit-appearance: none;
      background-color: #fff;
      width: 175px;
      height: 40px;
      color: #292929;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      text-transform: uppercase;
      -moz-appearence: none;
      -webkit-appearence: none;
    }
  }

  footer {
  .footer-text {
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;

    a {
      margin: 0px 10px;
      color: #999;
    }
  }

  .rightsreserved {
    font-size: 10px;
    line-height: 65px;
    color: #999;
  }

  div.socialicons {
    color: #999;
    text-align: center;

    > i {
      padding: 0px 10px 25px 0px;
    }
  }
}

  @media screen and (min-width: 768px) {
    body {
      header {
        nav {
          display: none;
        }
      }

      main {
        .section-3 {
          padding: 25% 0px;
        }

        div.undersøgelser {
          margin: 0 134px;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    body {
      .search-box {
        input {
          margin-right: -30px;
          width: 40%;
          float: right;
        }

        button {
          right: -26px;
        }
      }

      .row {
        margin: 100px auto;
      }

      button {
        .bib-button {
          margin-bottom: 20px;
        }
      }

      header {
        .hamburger {
          display: none;
        }

        .logo {
          margin-left: 30px;
        }

        nav {
          display: inline-block;
          float: right;

          ul {
            margin-right: 18px;
            }

            .nav-items {
              display: inline;
              margin: 15px;
              color: #fff;
              text-decoration: none;

              &.active {
                color: #00B2EE;
                border-bottom: 1px solid #00B2EE;
                border-top: 1px solid #00B2EE;
              }

              &:hover {
                color: #00B2EE;
                transition: 1s;
                border-bottom: 1px solid #00B2EE;
                border-top: 1px solid #00B2EE;
              }
            }
          }
        }
      }

      main {
        .section-3 {
          padding: 23% 0px;
        }

        div.undersøgelser {
          margin: 0px 262px;
        }

        div.kategori-program {
          margin-top: 30px;
        }
      }
    }

    footer {
      .footer-text {
        text-align: center;
      }

      div {
        p {
          display: inline;
          margin: 0px 20px;
        }

        .rightsreserved {
          font-size: 12px;
        }
      }
    }

    @media screen and (min-width: 1440px) {
      body {
        .search-box {
          input {
          margin-right: -228px;
        }

          button {
            right: -224px;
          }
        }

        main {
          div.undersøgelser {
            margin: 0 470px;
          }
        }
      }
    }
  }
